h1{
    color: rgb(110, 17, 17);
    text-align: center;
    font-size: 50px;
}
h2{
    color: rgb(110, 17, 17);
    text-align: center;
    font-size: 33px;
}

h3{
    color: rgb(110, 17, 17);
    text-align: center;
    font-size: 33px;
}
body{
    background-color: black;
    text-align: center;
    font-size: 22px;
}
p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#java{
    color: rgb(76, 11, 85);
}
#logo_java{
    width: 20%;
    height: 15%;
    border-radius: 10%;
}

